*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

ul,
li {
  list-style: none;
}

option,
select,
input,
button,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

a {
  color: inherit;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
}

html.lock,
body.lock {
  overflow: hidden;
}

._img {
  display: block;
  font-size: 0;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1950px;
  margin: 0 auto;
  padding: 0 15px;
}

.form {
  max-width: 825px;
  margin: 0 auto;
  padding: 30px 0;
}

.form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding-bottom: 25px;
}

.form__legend {
  padding-left: 20px;
  padding-bottom: 7px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #cf543c;
}

.form__legend_info {
  position: relative;
}

.form__legend_info:after {
  content: '?';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -10px;
  right: -20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  background-color: #8c8c8c;
}

.form__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__place_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
}

.form__place_center:last-child {
  padding-bottom: 0;
}

.form__place_space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.form__label {
  padding-left: 10px;
  padding-bottom: 8px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #cf543c;
}

.form__label_grey {
  padding-left: 15px;
  padding-bottom: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #505565;
}

.form__label_black {
  padding-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #173343;
}

.form__label_upper {
  text-transform: uppercase;
}

.form__label_required:after {
  content: '*';
}

.form__radio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  visibility: hidden;
}

.form__radio:checked::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ed6b6a;
  visibility: visible;
}

.form__radio:checked:before {
  border: 1px solid #8c8c8c;
}

.form__radio:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #cf543c;
  visibility: visible;
}

.form__input {
  padding: 0 20px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border-radius: 30px;
  border: 1px solid #b7926a;
  background: #ffffff;
}

.form__input_big {
  height: 80px;
}

.form__input_small {
  max-width: 230px;
}

.form__checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  width: 25px;
  height: 25px;
  visibility: hidden;
}

.form__checkbox:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid #8c8c8c;
  visibility: visible;
}

.form__checkbox:checked:after {
  content: '<';
  position: absolute;
  font-weight: bolder;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #cf543c;
  visibility: visible;
}

.form__rub {
  padding-left: 14px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #cf543c;
}

.form__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__size span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);
}

.form__value {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #8c8c8c;
}

.form__range {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__range::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ed6b6a;
  visibility: visible;
  z-index: 2;
}

.form__range::-webkit-slider-runnable-track {
  top: 5px;
  height: 4px;
  width: 100%;
  border-radius: 5px;
  background: #C4C4C4;
}